.keyPad_op{
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    background:#050c26;
}
.keyPad_op button{
    line-height: 1.875rem;
    font-size: 1.8rem;
    color: black;
    width: 33%;
    height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms;
  user-select: none;
  cursor: pointer;
  color:#050c26 ;
}